BOT_TOKEN=TELEGRAM_BOTFATHER_TOKEN
DB_PATH=postgresql+asyncpg://user:password@host/dbname
# Интервал отправки отчёта портфеля в секундах
NOTIFY_INTERVAL_SECS=1800

# Rate Limiting
# Время, через которое лимит запросов сбрасывается
TIME_FOR_UPDATE_LIMIT_IN_SECS=60
# Количество запросов, которое можно выполнить за лимит (TIME_FOR_UPDATE_LIMIT_IN_SECS)
REQUEST_PER_LIMIT=5
